
.vs/SixJobFiesta/v16/TestStore/1/testlog.manifest
.vs/SixJobFiesta/v16/TestStore/1/000-0000.testlog
.vs/FFXIIJobRandomizer/v16/TestStore/0/testlog.manifest
.vs/FFXIIJobRandomizer/v16/TestStore/0/000-0000.testlog
.vs/FFXIIJobRandomizer/v16/Server/sqlite3/storage.ide-wal
.vs/FFXIIJobRandomizer/v16/Server/sqlite3/storage.ide-shm
.vs/FFXIIJobRandomizer/v16/Server/sqlite3/storage.ide
.vs/FFXIIJobRandomizer/v16/Server/sqlite3/db.lock
.vs/FFXIIJobRandomizer/v16/.suo
RandomizerBot/obj/Debug/SJFBot.pdb
RandomizerBot/obj/Debug/SJFBot.exe
RandomizerBot/obj/Debug/RandomizerBot.csprojAssemblyReference.cache
RandomizerBot/obj/Debug/RandomizerBot.csproj.FileListAbsolute.txt
RandomizerBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RandomizerBot/bin/Debug/SJFBot.pdb
RandomizerBot/bin/Debug/SJFBot.exe
RandomizerBot/bin/Debug/SixJobFiesta.pdb
RandomizerBot/bin/Debug/SixJobFiesta.exe.config
RandomizerBot/bin/Debug/SixJobFiesta.exe
RandomizerRoller/obj/Debug/RandomizerRoller.csproj.FileListAbsolute.txt
RandomizerRoller/obj/Debug/RandomizerRoller.csprojAssemblyReference.cache
RandomizerRoller/obj/Debug/SJFRoller.dll
RandomizerRoller/obj/Debug/SJFRoller.pdb
RandomizerUI/bin/Debug/SixJobFiesta.exe
RandomizerUI/bin/Debug/SixJobFiesta.pdb
RandomizerUI/bin/Debug/SJFRoller.dll
RandomizerUI/bin/Debug/SJFRoller.pdb
RandomizerUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RandomizerUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RandomizerUI/obj/Debug/RandomizerUI.csproj.GenerateResource.cache
RandomizerUI/obj/Debug/RandomizerUI.csprojAssemblyReference.cache
RandomizerUI/obj/Debug/SixJobFiesta.exe
RandomizerUI/obj/Debug/SixJobFiesta.pdb
RandomizerBot/bin/Debug/SJFBot.exe.config
RandomizerBot/bin/Debug/SJFRoller.dll
RandomizerBot/bin/Debug/SJFRoller.pdb
RandomizerBot/obj/Debug/RandomizerBot.csproj.CopyComplete
RandomizerRoller/bin/Debug/SJFRoller.dll
RandomizerRoller/bin/Debug/SJFRoller.pdb
RandomizerUI/bin/Debug/SixJobFiesta.exe.config
RandomizerUI/obj/Debug/RandomizerUI.csproj.CopyComplete
RandomizerUI/obj/Debug/RandomizerUI.csproj.FileListAbsolute.txt
RandomizerUI/obj/Debug/SixJobFiesta.Properties.Resources.resources
RandomizerUI/obj/Debug/SixJobFiesta.RollerUI.resources
RandomizerBot/bin/Debug/RandomizerBot.exe
RandomizerBot/bin/Debug/RandomizerBot.exe.config
RandomizerBot/bin/Debug/RandomizerBot.pdb
RandomizerBot/bin/Debug/RandomizerRoller.dll
RandomizerBot/bin/Debug/RandomizerRoller.pdb
RandomizerBot/obj/Debug/RandomizerBot.exe
RandomizerBot/obj/Debug/RandomizerBot.pdb
RandomizerRoller/bin/Debug/RandomizerRoller.dll
RandomizerRoller/bin/Debug/RandomizerRoller.pdb
RandomizerRoller/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RandomizerRoller/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RandomizerRoller/obj/Debug/RandomizerRoller.dll
RandomizerRoller/obj/Debug/RandomizerRoller.pdb
RandomizerUI/bin/Debug/RandomizerRoller.dll
RandomizerUI/bin/Debug/RandomizerRoller.pdb
RandomizerUI/bin/Debug/RandomizerUI.exe
RandomizerUI/bin/Debug/RandomizerUI.pdb
RandomizerUI/bin/Debug/RandomizerUI.exe.config
RandomizerUI/obj/Debug/RandomizerUI.exe
RandomizerUI/obj/Debug/RandomizerUI.pdb
RandomizerUI/obj/Debug/RandomizerUI.Properties.Resources.resources
RandomizerUI/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RandomizerUI/obj/Debug/FFXII Job Randomizer.pdb
RandomizerUI/obj/Debug/FFXII Job Randomizer.exe
RandomizerUI/bin/Debug/FFXII Job Randomizer.pdb
RandomizerUI/bin/Debug/FFXII Job Randomizer.exe.config
RandomizerUI/bin/Debug/FFXII Job Randomizer.exe
RandomizerUI/obj/Debug/RandomizerUI.RollerUI.resources
_build/RandomizerBot/RandomizerBot.exe
_build/RandomizerBot/RandomizerBot.exe.config
_build/RandomizerBot/RandomizerBot.pdb
_build/RandomizerBot/RandomizerRoller.dll
_build/RandomizerBot/RandomizerRoller.pdb
_build/RandomizerRoller/RandomizerRoller.dll
_build/RandomizerRoller/RandomizerRoller.pdb
_build/RandomizerUI/FFXII Job Randomizer.exe
_build/RandomizerUI/FFXII Job Randomizer.exe.Config
_build/RandomizerUI/FFXII Job Randomizer.pdb
_build/RandomizerUI/RandomizerRoller.dll
_build/RandomizerUI/RandomizerRoller.pdb
RandomizerUI/obj/SixJobFiesta.csproj.nuget.g.targets
RandomizerUI/obj/SixJobFiesta.csproj.nuget.g.props
RandomizerUI/obj/SixJobFiesta.csproj.nuget.dgspec.json
RandomizerUI/obj/SixJobFiesta.csproj.nuget.cache
RandomizerUI/obj/project.assets.json
RandomizerUI/obj/Debug/RandomizerUI.csproj.SuggestedBindingRedirects.cache
RandomizerUI/obj/Debug/RandomizerUI.csproj.CoreCompileInputs.cache
RandomizerUI/obj/Debug/RandomizerUI.csproj.AssemblyReference.cache
RandomizerUI/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RandomizerRoller/obj/Debug/RandomizerRoller.csproj.CoreCompileInputs.cache
RandomizerRoller/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RandomizerBot/obj/Debug/RandomizerBot.csproj.SuggestedBindingRedirects.cache
RandomizerBot/obj/Debug/RandomizerBot.csproj.CoreCompileInputs.cache
RandomizerBot/obj/Debug/RandomizerBot.csproj.AssemblyReference.cache
RandomizerBot/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RandomizerUI/obj/SixJobFiesta.csproj.nuget.g.targets
RandomizerUI/obj/SixJobFiesta.csproj.nuget.g.props
RandomizerUI/obj/SixJobFiesta.csproj.nuget.dgspec.json
RandomizerUI/obj/SixJobFiesta.csproj.nuget.cache
RandomizerUI/obj/project.assets.json
